#chainNav{
    grid-area: chainnav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 0px 12px 12px;
    align-items: center;
}

.chainChangeBtn{
    height: 100%;
    width: 100px;
    background-color: black;
    color:white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    box-shadow: none;
    border-radius: 0px 0px 12px 12px;
    /* outline: outset; */
    outline-width: thin;
}