#chainNav{
    grid-area: chainnav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
}

.chainChangeBtn{
    width: 12.5%;
    background-color: black;
    color:white;
    box-shadow: none;
    border-radius: 0px 0px 12px 12px;
    /* outline: outset; */
    outline-width: thin;
}

#chainNav button{
    box-shadow: none;
    /* border: solid #111111; */
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 1%, #333333 99%);
}

#toggledChain{
    border: solid #7475b9;
}

#blockInfo{
    display: flex;
    justify-content: space-around;
    height: 50%;
    align-items: center;
}

#blockInfo a{
    color: white;
    text-decoration: none;
}

#blockInfo a:hover{
    text-decoration: underline;
}

#chainContainer{
    height: 100%;
    width: 1400px;
}