#dashboardContainer {
  width: 90vw;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 30% 20% 20%;
  grid-template-rows: 5% 47.5% 47.5%;
  grid-template-areas:
    "chainnav chainnav chainnav chainnav"
    "feed feed watchlist trollbox"
    "feed feed dosbox dosbox";
}

/*Divs that are immediate children*/
#dashboardContainer > div {
  display: flex;
  flex-direction: column;
  border: outset;
  border-color: black;
  background-color: #1a1a1a;
  border-radius: 4px;
  box-shadow: 10px 5px 5px grey;
  margin: 6px;
}