#dashboardContainer {
  width: 90vw;
  height: 95vh;
  display: grid;
  grid-template-columns: 30% 30% 20% 20%;
  grid-template-rows: 5% 47.5% 47.5%;
  grid-template-areas:
    "chainnav chainnav chainnav chainnav"
    "feed feed watchlist trollbox"
    "feed feed dosbox dosbox";
  margin: 2.5vh 0 2.5vh 0vh;
  z-index: 1;
}

/*Divs that are immediate children*/
#dashboardContainer > div {
  display: flex;
  flex-direction: column;
  border: outset;
  border-color: black;
  background-color: #070707;
  border-radius: 4px;
  box-shadow: 10px 5px 5px rgb(24 24 24);
  margin: 6px;
  border-width: 0.5em;
}