main {
    grid-area: content;
    height: 95%;
    width: 90%;
    margin: 0% 5% 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main * {
  padding: 1vh;
}

#connect-btn{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: black;
    border-radius: 24px;
    box-shadow: 10px 5px 5px grey;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 1vh;
    right: 5vw;
}

#dashboard-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 30% 20% 20%;
  grid-template-rows: 5% 47.5% 47.5%;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "chainnav chainnav chainnav chainnav"
    "feed feed watchlist trollbox"
    "feed feed dosbox dosbox";
}

#chain-nav{
  grid-area: chainnav;
  border-radius: 0px 0px 12px 12px;
  background-color: black;
}

#feed{
  grid-area: feed;
}

#watchlist{
  grid-area: watchlist;
}

#trollbox{
  grid-area: trollbox;
}

#dosbox{
  grid-area: dosbox;
}