#dosbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: dosbox;
}

.dosbox-container canvas{
    width: 640px;
    height: 480px;
}

#gameScreen{
    width: 640px;
    height: 480px;
    background: url('../assets/dosbox.gif') no-repeat;
    background-position: center;
    background-color: #000000e0;
    padding: unset;
}

#gameScreen p{
    color: white;
}

#controls{
    display: flex;
    width: 640px;
}

#controls button{
    background-color: black;
    color: white;
    width: inherit;
}

#controls button:hover{
    cursor: pointer;
    background-color: limegreen;
}

#gameContainer{
    display: flex;
    flex-direction: column;
}

#ejectBtn{
    color: white;
    background-color: black;
}

#ejectBtn:hover{
    cursor: pointer;
    background-color: red;
}