#feed{
    grid-area: feed;
    overflow-y: auto;
    z-index: -1;
}

#feed table{
    width: 100%;
    border-collapse: collapse;
}

#headerRow{
    text-align: center;  
}

.feedRow{
    height: 5em;
}

.feedRow svg:hover {
    color: red;
    outline: none;
}

.feedRow a svg:hover, .feedRow a:hover{
    color: inherit;
    text-decoration: underline;
}

.feedRow a {
    color: black;
    text-decoration: none;
}

.feedRow td{
    padding: 0 1em 0 1em;
}

#feed thead {
    background: #070707;
    position: sticky;
    top: 0;
}

#tableContainer{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    background: #070707;
}

.avatar{
    height: 24px;
    width: 24px;
    border-radius: 6px;
}

#pageOptions{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 1%, #333333 99%);
}

#pageOptions select, #pageOptions input {
    border-radius: 6px;
    border: solid;
    border-color: #161515;
    margin: 0 0.5em 0 0.5em;
}

#pageOptions button{
    background-color: #1e1e1e;
    border-radius: 6px;
    color: white;
    border: solid black;
}

#pageOptions button{
    margin: 0 0.5em 0 0.5em;
}
#tableOptions svg{
    margin: 0 1.5em 0 1.5em;
}

#pageOptions button:disabled, #pageOptions button[disabled]{
    color: #5e5e5e;
}

#feedSearch{
    width: 100%; 
    border-radius: 12px;
    margin: 0.25em;
    padding: 0.25rem;
}

#tableOptions, .deleteCell{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#walletWarning p{
    margin-top: 40%; 
    text-align: center;
}

.copyBtn svg:hover{
    color: inherit;
}

.copytoClipBoardTooltip{
    font-size: 10px !important;
    font-family: monospace !important;
    border-radius: 24px !important;
}