#feed{
    grid-area: feed;
    overflow-y: auto;
    z-index: -1;
}

#feed table{
    width: 100%;
    border-collapse: collapse;
}

#headerRow{
    text-align: left;  
}

#tableContainer{
    overflow-y: scroll;
}

.feedRow{
    height: 5em;
}

.feedRow a {
    color: black;
    text-decoration: none;
}

#feed thead {
    background: #070707;
    position: sticky;
    top: 0;
}