.normal, .smallValue, .mediumValue, .largeValue, .massiveValue, .jesusValue, .contractCreation{
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 56px;
}

.smallValue, .mediumValue, .largeValue, .massiveValue, .jesusValue{
    color: #13ff00;
    border: 1px inset #13ff00;
}

.smallValue{
    background: url(https://media2.giphy.com/media/3oEdvbpl0X32bXD2Vi/giphy.gif);
    background-size: cover;
}
  
.mediumValue{
    background: url(https://media4.giphy.com/media/h0MTqLyvgG0Ss/giphy.gif?cid=ecf05e476otp58306kqs6kfz8jopwh20dvdbdjfw9ylf87rv&rid=giphy.gif&ct=g);
    background-size: cover;
}

.largeValue{
    background: url(https://media0.giphy.com/media/SsTcO55LJDBsI/giphy.gif?cid=ecf05e47n1tjvwfn9w8xy3nrc5s3bavfz2e5kzcfjg54aqqv&rid=giphy.gif&ct=g);
    background-size: cover;
}

.massiveValue{
    background: url(https://media1.giphy.com/media/2rqEdFfkMzXmo/giphy.gif?cid=ecf05e47bfxccg88eu7zyrco2fzbfgbkfcs7ly82o5dlkqut&rid=giphy.gif&ct=g);
    background-size: cover;
}

.jesusValue{
    background: url(https://media0.giphy.com/media/Y2ZUWLrTy63j9T6qrK/giphy.gif?cid=ecf05e47yr23xlt1nc4qwfzjxtpr3r12oguy9ue75tyf9a0g&rid=giphy.gif&ct=g);
    background-size: cover;
}

.contractCreation{
    color: gold;
    background: url(https://media4.giphy.com/media/hW9JUeJawXNTI7ogt9/giphy.gif?cid=ecf05e47o3otepgu0x8ro0iq2pklr2du1y45ukeby62cp8rw&rid=giphy.gif&ct=g);
    background-size: cover;
    border: 1px inset gold;
}