#trollbox{
  grid-area: trollbox;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chatContainer hr{
  border-color: #414141;
}

#trollboxHeader{
  background-color: black;
  width: 100%;
  height: 25px;
}

.message{
  display: flex;
  padding: 1em 0 1em 0;
}

#messages{
  display: flex;
  flex-direction: column-reverse;
}

#chatContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

#chatInfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#chatForm{
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #000000;
  background-image: linear-gradient(0deg, #000000 1%, #333333 99%);

}

#chatForm input{
  width: 90%;
  height: 100%;
  border: none;
}

#chatForm svg{
  color: white;
}

#chatForm svg:hover{
  color: green;
}

#chatForm button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}