#trollbox{
  grid-area: trollbox;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chatContainer hr{
  border-color: #414141;
}

#trollboxHeader{
  background-color: black;
  width: 100%;
  height: 25px;
}

.message{
  display: flex;
  padding: 1em 0 1em 0;
}

#messages{
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

#chatContainer{
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid #070707;
}

#chatInfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#chatForm{
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #000000;
  background-image: linear-gradient(0deg, #000000 1%, #333333 99%);
  display: flex;
}

.message p{
  word-break: break-word;
}

.message img{
  width: 18px;
  border-radius: 4px;
}

#chatForm > div{
  width: 90%;
}

#chatForm > div > div{
  background-color: #070707;
  border: solid #181818;
}

#chatForm svg{
  fill: white;
  width: 16px;
  height: 16px;
}

#chatForm svg:hover{
  fill: #00ca00;
}

#chatForm button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding-left: 14px;
}

#messageInput{
  width: 90%;
}

#chatForm > div > div > div {
  color: white;
  left: 0;
  bottom: 0;
}

#chatForm > div > div > div > div > section{
  width: 100% !important;
}