* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-height: 100vh;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: grid;
  grid-template-areas:
  'navbar content'
  'navbar footer';
  grid-template-columns: 10vw auto;
  /*grid-template-rows: 95% 5%;*/
  background-color: white;
  height: 100vh; 
  width: 100%; 
}