* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.App {
  display: grid;
  grid-template-areas:
  'navbar content'
  'navbar footer';
  grid-template-columns: 100px auto;
  grid-template-rows: 100% 5%;
  background-color: white;
  height: 100vh; 
  width: 100%; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: black #eee;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid #eee;
}