* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

button{
  cursor: pointer;
}

.App {
  display: grid;
  grid-template-areas:
  'navbar content'
  'navbar footer';
  grid-template-columns: 100px auto;
  grid-template-rows: auto 75px;
  background-color: white;
  height: 100vh; 
  width: 100%; 
}

#light main{
  background-color: white;;
}

#dark main{
  background-color: #232323;
  background-image: linear-gradient(49deg, #232323 50%, #282828 74%);
}

#light tbody tr:nth-child(even), #light ol li:nth-child(even){
  background: #e5e5e5
}
#light tbody tr:nth-child(odd), #light ol li:nth-child(odd){
  background: #eee
}

#dark tbody tr:nth-child(even), #dark ol li:nth-child(even){
  background: #121212;
}

#dark tbody tr:nth-child(odd), #dark ol li:nth-child(odd){
  background: #0d0d0d;
}

#light tbody tr{
  color: black;
}

#dark tbody tr , #dark main h3, #dark main h1, #dark td a, #dark ol li a{
  color: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: black #eee;
}

body.activeModal {
  overflow-y: hidden;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}